@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Playfair+Display:wght@600&display=swap');
* {
  margin: 0%;
}
body {
    margin: 0;
    background-size: 100%;
  }
  body::-webkit-scrollbar{
    width: 15px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: rgba(175, 47, 47, 0.856);
    border-radius: 8px;
  }
  body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(87, 21, 21);
  }
  body::-webkit-scrollbar-track-piece{
    background-color: rgba(238, 94, 94, 0.822);
  }
  header {
    background-color: rgba(253, 213, 213, 0.363);
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0px;
  }
  nav {
    float: left;
  }
  .ul img{
    height: 65px;
    width:65px;
    transition: all 1s;
  }
  .ul img:hover{
    transform: scale(0.9);
  }
  .ul{
    list-style: none;
    overflow: hidden;
    width: 100%;
    display: flex;
  }
  nav ul li {
    float: right;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    padding-top: 5px;
  }
  .ul a {
    float: right;
    display: block; 
    padding: 20px;
    color: #d61b1b;
    text-decoration: none;
    text-align: center;
    margin-left:60px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
  }
  .ul a:hover {
    color: rgb(133, 32, 32);
    border-bottom: 2px solid rgb(122, 30, 30);
    opacity: 1;
  }
  .fa_solid{
    opacity: 0;
    border-bottom: transparent;
  }
i{
  visibility: hidden;
  display: none;
  visibility: 0;
}
  h1 {
    padding-top: 6rem;
    padding-left: 2rem;
    font-family: 'Francois One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: rgb(146, 8, 8);
    lighting-color: rgb(192, 15, 15);
    font-size: 60px;
    text-shadow: rgb(194, 160, 160) 0.1em 0.1em 0.2em;
    text-align: center;
  }
  p {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 40px;
  }
.primerciclo{
  height: 100vh;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(40deg, rgba(255,255,255,1) 0%, rgba(254,252,252,1) 25%, rgba(254,245,245,1) 45%, rgba(242,187,187,1) 63%, rgba(176,29,29,1) 100%);
}
i{
  visibility: hidden;
  display: none;
  visibility: 0;
}
.talleres1{
  margin:30px;
}
@media(max-width:600px){
  .ul{
     width: 100%;
     position: absolute;
     top: 50px;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     display: none;
     }
     .ul a{
       color: aliceblue;
       text-align: center;
       justify-content: center;
       margin-right: 100px;
       float: none;
       transition: transform 1s;
     }
     .ul a:hover{
       transform: scale(1.2);
       color: aliceblue;
       border-bottom: transparent;
     }
   .lista {
     display: flex;
     flex-direction: column;
     height: 300px;
     width:auto;
     text-align: center;
     background-color: rgba(146, 19, 19, 0.904);
     margin-left: 30px;
   }
   .fa_solid{
     font-size: 30px;
     position:absolute;
     right: 15px;
     top: 15px;
     float: left;
   }
   i{
     visibility: visible;
     font-size: 2.5rem;
     float: left;
     margin-left: 30px;
   }
   .ul img{
     display: none;
     display: 0;
   }
  }